<footer class="footer">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-7">
                <p class="has-text-weight-semibold has-text-grey-darker">James Powers - <span class="has-text-weight-light has-text-black-ter">
                Solutions Architect | Data Engineer</span></p>
            </div>
            <div class="column is-5 has-text-right-tablet">
                <p class="is-size-7">
                    <a href="mailto:contact@powers.land" class="has-text-grey">Email</a> •
                    <a href="https://www.linkedin.com/in/jamesspowers/" target="_blank" class="has-text-grey">LinkedIn</a> •
                    <a href="https://github.com/jspowers" target="_blank" class="has-text-grey">GitHub</a>
                </p>
                
            </div>
        </div>
    </div>
</footer>
